In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

In [8]:
# Test connection and access some data
df = pd.read_sql_query("select count(*) from mage.green_taxi", engine)
display(df)

    count
0  139370

In [25]:
months = [10, 11, 12]

datasets = []


taxi_dtypes = {
            'VendorID': pd.Int64Dtype(),
            'passenger_count': pd.Int64Dtype(),
            'trip_distance': float,
            'RatecodeID': pd.Int64Dtype(),
            'store_and_fwd_flag': str,
            'PULocationID': pd.Int64Dtype(),
            'DOLocationID': pd.Int64Dtype(),
            'payment_type': pd.Int64Dtype(),
            'fare_amount': float,
            'extra': float,
            'mta_tax': float,
            'tip_amount': float,
            'tolls_amount': float,
            'improvement_surcharge': float,
            'total_amount': float,
            'congestion_surcharge': float
        }

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

for month in months:
    url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{month}.csv.gz"
    df = pd.read_csv(url, sep=",", compression="gzip", dtype=taxi_dtypes, parse_dates=parse_dates)
    datasets.append(df)

# Concatenate the list of DataFrames into a single DataFrame
data = pd.concat(datasets)

In [26]:
display(data)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83125,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,<NA>,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
83126,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,<NA>,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
83127,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,<NA>,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
83128,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,<NA>,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
83129,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,<NA>,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN

In [27]:
#Question 1. Data Loading
#Once the dataset is loaded, what's the shape of the data?
data.shape

(266855, 20)

In [28]:
#Question 2. Data Transformation
#Upon filtering the dataset where the passenger count is equal to 0 _or_ the trip distance is equal to zero, how many rows are left?
data = (data[data['passenger_count'] != 0])
data = (data[data['trip_distance'] != 0])

data.shape

(139370, 20)

In [29]:
#Question 3. Data Transformation
#Which of the following creates a new column `lpep_pickup_date` by converting `lpep_pickup_datetime` to a date?
data['lpep_pickup_date'] = data['lpep_pickup_datetime'].dt.date

In [30]:
#Question 4. Data Transformation
#What are the existing values of `VendorID` in the dataset?
data['VendorID'].unique

<bound method Series.unique of 0        2
1        2
2        2
3        1
4        1
        ..
46287    2
46288    2
46289    2
46290    2
46291    2
Name: VendorID, Length: 139370, dtype: Int64>